@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");


.container-header-wrapper {
   display: flex;
   justify-content: space-between;
   font-family: "Roboto", sans-serif;
}

.menu-wrapper-styles {
   width: 100%;
   display: inline-flex;
   align-items: center;
}


.menu-wrapper-styles ul > li {
   width: auto;
}

a.a-link-item {
   color: #5f5f5f;
   font-weight: 600;
   text-decoration: none; 
}

a.a-link-item:hover {
   color: #2489ce;
   font-weight: 600;
   font-weight: bold;
   text-decoration: underline;
}

.container-header-styles {
   border-bottom: 1px solid rgba(0,0,0,.1);
}

figure.logo-image-specs {
   width: auto;
}


.orientation-menu-desktop {
   color: #000;
   display: flex;
   align-content: center;
}

.aside-menu-styles {
  display: flex;
  text-align: right;
}

li.li-list-styles {
   width: auto;
}


header.header-wrapper-shadow {
   border-bottom: 1px solid rgba(0,0,0,.1);
}

   button.mobile-menu-wrapper {
      display: none;
   } 

.burger-wrapper-styles {
   display: flex;
   flex-direction: column;
   width: 150px;
   margin: 10px !important;
}

.close-button-styles {
   padding: 10px;
   text-align: right;
}

@media(max-width: 800px) {

   ul.menu-wrapper-styles {
      display: none;
   }

   button.mobile-menu-wrapper {
      display: block;
   } 

}