@import "../../scss/variables.scss";

button.button-main-styles {
    background-color: $primary-color-blue;
    color: $white;
    &:hover {
        background-color: $grey-main;
        color: $white;
    }
}