@import "../scss/variables.scss";

.cards-space-above {
    margin: 15px;
}

.buttons-container-center {
    justify-content: center;
    display: flex;
}

.button-space-sides {
    padding-left: 10%;
    padding-right: 10%; 
    margin-bottom: 32px;
}
