.main-wrapper-login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.login-box-styles {
    width: 300px;
    height: 300px;
    padding: 0 40px 40px 40px;
    background-color: #ecece7;
    box-shadow: 1px 1px 1px 1px #717171;
}

.login-button-styles {
    width: 100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.login-field-styles {
    margin-top: 15px !important;
}

@media(max-width: 800px) { 
    .main-wrapper-login-box {
        margin: 25% 10% 40% 10%;
    }
}