.ul-item-styles {
    list-style: none;
    padding: 0;    
}

.mui-icons-align__portfolio {
    vertical-align: middle;
}

button.portfolio-btn-styles {
    width: 140px !important;
}

button.portfolio-btn-delete-styles {
    width: 150px !important;
}

button.portfolio-btn-edit-styles {
    width: 135px !important;
}
